/* Module */
.module {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Nav */
.nav {
  margin-bottom: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Link */
.link {
  color: #818488;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.link:hover,
.link:focus {
  color: #000000;
}

/* Copyright */
.copyright {
  color: rgba(129, 132, 136, .6);
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: .5px;
  text-transform: uppercase;
}
