/* Container */
.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Left sidebar */
.leftSidebar {
  position: sticky;
  top: 15px;

  max-width: 280px;
  width: 100%;

  flex-shrink: 0;
}

/* Right sidebar */
.rightSidebar {
  position: sticky;
  top: 15px;

  max-width: 280px;
  width: 100%;

  flex-shrink: 0;
}

/* Content */
.content {
  max-width: calc(100% - 280px - 280px - 50px);
  width: 100%;
  padding: 0 25px;
}

/* Module */
.module {
  margin-bottom: 15px;
}
