.module {
  width: 100%;
  height: 55px;

  margin: 0 0 25px 0;

  border-bottom: 1px solid #EDEEEE;
  background-color: #FFFFFF;
}

/* Container */
.container {
  height: 100%;

  display: flex;
  align-items: center;
}

/* Navbar */
.navbar {
  min-width: 140px;

  display: flex;
  align-items: center;
}

/* Nav - item */
.nav {
  position: relative;

  color: var(--icon-color);
  text-decoration: none;
}

.nav:not(:last-child) {
  margin-right: 30px;
}

.nav:hover,
.nav:focus {
  color: rgba(0, 0, 0, .5);
}

/* Nav icons */
.navTypeExplore {
  font-size: 22px;
}
.navTypeNotification {
  font-size: 22px;
}
.navTypeInbox {
  font-size: 21px;
}
.navNotificationInActive {}
.navNotificationActive:after {
  position: absolute;
  content: "•";

  top: -7px;
  right: -7px;

  color: #ED4956;
  font-size: 25px;
  line-height: 10px;

  animation: scaleNotificationIcon .6s ease;
}

@keyframes scaleNotificationIcon {
  from { transform: scale(1); }
  50% { transform: scale(1.5); }
  to { transform: scale(1); }
}

/* Logo */
.logo {
  height: 31px;
  margin: 0 auto;

  transition: .15s ease;
}

.logo:focus {
  transform: scale(0.95);
}

/* Account */
.account {
  min-width: 140px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Search */
.search {
  width: 22px;
  height: 22px;

  color: var(--icon-color);
  font-size: 22px;

  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
}

.search:hover,
.search:focus {
  color: rgba(0, 0, 0, .5);
}

/* Avatar */
.avatar {
  width: 32px;
  height: 32px;

  margin: 0 0 0 22px;

  border-radius: 50%;
  transition: .15s ease;
  overflow: hidden;
}

.avatar:focus {
  transform: scale(.95);
}
